.Form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Form div.field {
  margin-top: 0;
  margin-bottom: 1vh;
}

.Form input, .Form button {
  margin: 0;
  padding: 1ex;

  font-size: calc(10px + 0.5vmin);

  border-width: 1px;
  border-color: black;
}

.Form input {
  border-radius: 2px;
}

.Form button {
  border-radius: 5px;
  background-color: rgb(237, 134, 67);
  color: white;
  font-weight: bold;
}

.Form input.invalid {
  background-color: rgb(255, 192, 192);
}

.Form div.error {
  font-size: calc(10px + 0.1vmin);
  text-align: right;
}
