.App-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(66, 80, 91);
  height: 8vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;

  font-size: calc(10px + 0.5vmin);
  border-left: 1px solid white;
}

.App-header > .link > a {
  display: inline-block;

  padding-left: 2vw;
  padding-right: 2vw;

  color: rgb(215, 215, 215);
  text-decoration: none;
}

.App-header > .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: calc(5vw + 20%);
  height: 8vh;
  margin-left: 0;
  margin-right: auto;
  background-color: rgb(96, 111, 124);
}

.App-header > .logo > img {
  height: 8vh;
}

@media screen and (width < 1224px) {
  .App-header > .logo > img {
    height: 6vh;
  }
}

@media screen and (width < 768px) {
  .App-header > .logo > img {
    height: 3vh;
  }
}

.App-header > .user-display {
  display: flex;
  flex-direction: row;

  flex-grow: 0.3;
  font-weight: bold;
}

.App-header .user-display .user-name {
  margin-left: 1vw;
  margin-right: 1vw;
}

.App-header .user-display .icon-logout {
  cursor: pointer;
}
