.Login {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;

  height: 100vh;

  background-color: rgb(244, 249, 253);
}

.Login > .container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;

  margin: auto;
  padding: 1ex;
  min-height: 35vh;
  max-width: 40vw;

  background: white;
  box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.4);
}

@media screen and (width < 1224px) {
  .Login > .container {
    flex-direction: column;
  }

  .Login > .container > * {
    width: auto;
  }
}

@media screen and (width < 768px) {
  .Login > .container {
    min-width: 100%;
    margin-top: 0;
  }
}

.Login > .container > * {
  height: 100%;

  padding-left: 2vw;
  padding-right: 2vw;
}

.Login > .container > .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgb(96, 111, 124);
}

.Login > .container > .logo img {
  max-height: 5vw;
  margin: auto;
}

.Login > .container > .login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgb(66, 80, 91);
  color: white;
  font-size: calc(10px + 1.5vmin);
}
