.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}

.App-content .page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  padding-left: 10vh;
  padding-right: 10vh;
}

a {
  color: #09d3ac;
}
