.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}

.App-content .page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  padding-left: 10vh;
  padding-right: 10vh;

  text-align: left;
}

.App-content .page > * {
  margin-top: 2vh;
}

@media screen and (width < 1224px) {
  .App-content .page {
    padding-left: 4vh;
    padding-right: 4vh;
  }
}

@media screen and (width < 768px) {
  .App-content .page {
    padding-left: 1vh;
    padding-right: 1vh;
  }
}

.App-content .page h1 {
  margin-top: 2vh;
  margin-bottom: 0;

  font-weight: normal;
}

a {
  color: #09d3ac;
}
